.gallery{
    padding:1%;
}

.galleryFlexGrid{
    margin-top: 1%;
    flex:center;
    min-height: 800px;
    overflow-y: scroll;
}

.galleryFlexGrid {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.galleryFlexGrid::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.galleryItem{
    max-height:200px;
    margin:1%;
}

.galleryItem, .galleryIntro, .galleryFlexGrid{
    border-radius:5px;
    background: rgba(0, 0, 0, 0.8);
}

.galleryIntro{
    padding-top: 15px;
    padding-bottom:15px;
}