.icon-link{
    position:relative;
}

.icon {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    width: 50px;
    background-color: white;
    border-radius: 100px;
    border: 3px solid white;
    display:inline-block;
}

.icon:hover{
    border: 3px solid #FFFB8C;;
}

.icon:hover+.icon-label {
    max-width:100px;
}

.icon-label{
    margin-top:100%;
    position:absolute;
    display:inline-block;
    max-width:0px;
    margin-left: -100%;
    overflow:hidden;
    transition:all 0.5s ease-in;
    z-index:99;
    background:black;
}

.smallIcon {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border: 2px solid white;
}

.meirl{
    max-height: 200px;
    border-radius: 500px;
}

/*  flippy coin owo image styles  */


.boxwrapper {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 800px;
    width:860px;
    height:840px;
    margin:auto;

}

#index.is-active .boxwrapper {
    transform: rotateY(180deg);
}

.boxback {
    transform: rotateY(180deg);
}

.boxfront {
    z-index: 2;
    object-fit: cover;
    transform: rotateY(0deg);
}

.boxfront,
.boxback {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Safari */
    position: absolute;
    width:800px;
    height:800px;
    text-align: inherit;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    top: 0;
    left: 0;
    box-shadow: 0 0 100px #FFFB8C;
    display: float center;
    padding: 2.5%;
    /* borders */
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
}

/* the moon */

.boxfront{
    background-image: url("../img/bunny.png");
    background-size: 1000px auto;
    object-fit: cover;
    background-repeat: no-repeat;
    background-color:  #FFFB8C;
}

.boxback{
    border-left: 20px solid #FFFB8C;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 1) 100%);
}



/* cursor */

.cursorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.cursorText{
    display: flex;
    align-items: center;
    background-color:black;    
    padding-left:5px;
    font-size:1.5em;
}

.cursorText:hover{
    background-color:white;
    color:black;
}

.cursorText::after {
    content: "";
    width: 5px;
    height:100px;
    background: #ec7fff;
    display: inline-block;
    background-color: white;
    animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

/* wormy */

.wormy{
    animation-name: wormy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
  }

  @keyframes wormy {
    0% {
      top: 0px;
    }
    50% {
      top: -7px;
    }
    100% {
      top: 0px;
    }
  }